{% extends 'base.html' %}

{% block content %}

<div class="container-fluid d-flex justify-content-center">
    <form method="POST" action="/films/recommend" sytle="width: 40%;">

        <!-- ADD THIS TAG IN HTML FORMS WITH POST REQUESTS-->
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputProduct">Enter the product name </label>
            <input name="product" type="text" class="form-control my-2" id="exampleInputProduct" placeholder="Product name">
        </div>
        <button value="submit" type="submit" class="btn btn-primary mt-2" name="submit">Submit</button>
    </form>
</div>


{% if submitbutton == "submit"  %} 
<h1> You search for product named :  {{ prod_name }}</h1>

<body>
    <br>
    <div class="container w-50">
        <ul class="list-group">
            <li class="list-group-item active text-center font-weight-bold">Recommendation</li>
            {% for product in recommendation %}
                    <li class="list-group-item">{{ product}}</li>
            {% endfor %}
        </ul>
    </div>
</body>


{% endif %}

{% endblock  %}

